<header class="navbar navbar-expand flex-column flex-md-row bd-navbar">
    <a href="#" class="navbar-brand mr-0 mr-md-2">Envelope Budget</a>

    <div class="navbar-nav-scroll">
        <ul class="navbar-nav bd-navbar-nav flex-row">
            <li class="nav-item"><a href="#" class="nav-link">Envelopes</a></li>
        </ul>
    </div>
    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Manage
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Save</a>
                <a class="dropdown-item" href="#">Fetch</a>
            </div>
        </div>
    </ul>
</header>